<article class="post-card">
	<img class="image" src="https://placehold.co/800x600" alt="">
	<div class="content">
		<header class="header">
			<div class="title">
				<h1>{{post.title | u.truncate(100, '...')}}</h1>
				<span class="like">{{ post.likes | length }}</span>
			</div>
			<div class="tags">
				<span>tag</span>
			</div>
		</header>
		<footer class="footer">
			<div class="author">
				<img class="author-image" src="https://placehold.co/400" alt="">
				<div class="username">
					<span>{{post.author.username}}</span>
					<span>Le
						{{post.createdAt | date("d/m/Y")}}</span>
				</div>
			</div>
			<div class="stats">
				<span>{{ post.comments | length }} comments</span>
			</div>
		</footer>
	</div>
	<a class="post-link" href="{{ path('app_post_show', {'id': post.id}) }}"></a>
</hr></article>
