<article class="post-card">
	<a href="{{ path('app_post_show', {id: post.id}) }}" class="post-link"></a>
	<div class="content">
		<div class="author">
			<img src="https://picsum.photos/id/{{post.id}}/800/600" alt="" class="author-img">
			<span class="author-name">{{post.author.username}}</span>
		</div>
		<h1 class="title">{{post.title|u.truncate(200, '...')}}</h1>
		<p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. it amet consectetur adipisicing elit.</p>
		<div class="footer">
			{{ include('post/_tags.html.twig') }}
			<div class="stats">
				<span class="date">
					{{post.createdAt | date('d/m/Y')}}
				</span>
				<span>
					<i class="fa-regular fa-comment"></i>
					{{post.comments|length}}
				</span>
				{{ include('like/_button.html.twig', {type: 'post', entity: post}) }}
			</div>
		</div>
	</div>
	<img src="https://picsum.photos/id/{{post.id}}/800/600" alt="" class="post-img">
</article>
