{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('tags-input') }}
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('tags-input') }}
{% endblock %}

{% block main %}
    <div class="col-9">
		<h1>Create new Post</h1>
		
		{{ include('post/_form.html.twig') }}
	</div>

{% endblock %}
