{% extends 'base.html.twig' %}

{% block title %}Post
{% endblock %}

{% block main %}

	<article class="post">
		<header>
			<h1 class="mb-4">{{ post.title }}</h1>
			<div class="author">
				<img class="author-image" src="https://placehold.co/400" alt="">
				<div class="username">
					<span>{{post.author.username}}
					</span>
					<span>
						Le
						{{post.createdAt | date("d/m/Y")}}
					</span>
				</div>
			</div>
		</header>
		<img src="https://placehold.co/800x600" class="img">
		<p class="content">{{ post.content | markdown_to_html }}</p>
		<div class="tags">
			<span>tag</span>
		</div>
	</article>

	<hr class="mt-5 mb-5"/>

	{% if is_granted('IS_AUTHENTICATED') %}
		{{ render(controller('App\\Controller\\CommentController::commentForm', {post})) }}
	{% endif %}

	<h3 class="mb-5">{{ post.comments | length }} Comments</h3>

	{% for comment in post.comments %}
		<div class="comment mb-5">
			<div class="d-flex justify-content-between">
				<div class="author">
					<img class="author-image" src="https://placehold.co/400" alt="">
					<div class="username">
						<span>
							{{comment.author.username}}
						</span>
						<span>
							Le
							{{comment.createdAt | date("d/m/Y")}}
						</span>
					</div>
				</div>
				<div class="d-flex align-items-center">
					{% if app.user and app.user.id == comment.author.id %}
						{{ include('comment/_delete_form.html.twig') }}
					{% endif %}
				</div>
			</div>
			<p class="content">
				{{ comment.content | markdown_to_html}}
			</p>
		</div>
	{% endfor %}

{% endblock %}
