{% extends 'base.html.twig' %}

{% block title %}Post
{% endblock %}

{% block body %}

	<div class="col-7">
		<article class="post">
			<header>
				<h1 class="title">{{ post.title }}</h1>
				<p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae molestias esse, repellat sequi culpa rem laudantium nisi iure distinctio optio minima non deserunt, quas necessitatibus error libero perspiciatis officia corrupti.</p>
				<div class="meta">
					<div class="author">
						<img class="author-img" src="https://picsum.photos/id/{{post.id + 1 }}/800/600" alt="">
						<div class="info">
							<span>{{post.author.username}}
							</span>
							<span>
								Le
								{{post.createdAt | date("d/m/Y")}}
							</span>
						</div>
					</div>
					<div>
					<span class="mx-3">
						<i class="fa-regular fa-comment"></i>
						{{post.comments|length}}
					</span>
					{{ include('like/_button.html.twig', {type: 'post', entity: post}) }}
					</div>
				</div>
			</header>
			<img src="https://picsum.photos/id/{{post.id}}/800/600" class="post-img">
			<div class="content">{{ post.content|markdown_to_html }}</div>
			{{ include('post/_tags.html.twig') }}
		</article>



		<h3 class="mb-3">
			{{ post.comments|length }}
			Comments
		</h3>

		{% if is_granted('IS_AUTHENTICATED') %}
			{{ render(controller('App\\Controller\\CommentController::commentForm', {post})) }}
		{% endif %}

		{% for comment in comments %}
			<div class="comment">
				<div class="header">
					<div class="author">
						<img src="https://placehold.co/800x600" alt="" class="author-img">
						<div class="info">
							<span>{{comment.author.username}}</span>
							<span>{{comment.createdAt|date('d/m/Y')}}</span>
						</div>
					</div>
					{{ include('like/_button.html.twig', {type: 'comment', entity: comment}) }}
				</div>
				<p class="content">{{comment.content}}</p>
			</div>
		{% endfor %}
	</div>
{% endblock %}
